<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="@Links.Content.bootstrap_flatly_min_css" rel="stylesheet" />
    <link href="@Links.Content.Styles_min_css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink(AppSettings.ApplicationName, MVC.Home.Index(), new { @class = "navbar-brand" })
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Sign out", MVC.Account.SignOut())
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Sign in", MVC.Account.SignIn())
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @Html.RenderFlash()
            </div>
        </div>
        <div class="row">
            @Html.RenderFlash()
            @RenderBody()
        </div>
        <div id="footer" class="row">
            <div class="col-lg-12">
                <p class="text-muted">@AppSettings.ApplicationName @AppSettings.ApplicationVersion (@AppSettings.ApplicationReleaseProfile)</p>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    @{
        var db = new SogetiSkills.Models.SogetiSkillsDataContext();
        try
        {
            db.Users.ToArray();
        }
        catch(Exception ex)
        {
            <p>@ex.Message</p>
        }
    }
</body>
</html>