@model SogetiSkills.UI.ViewModels.Profile.Skills.SkillsViewModel
@{
    ViewBag.Title = string.Format("{0} - Skills", Model.ConsultantName);
}

<div class="row">
    <div class="col-lg-12">
        <h2>@Model.ConsultantName - Skills</h2>
        <p>@Html.ActionLink("Back to profile", MVC.Profile.Details(@Model.ConsultantId))</p>
        <form class="form-inline well">
            <div class="form-group">
                <input id="newSkillText" type="text" style="width: 50em;" class="form-control" placeholder="C#, Ruby on Rails, Postgres SQL, etc" />
                @Html.DropDownList("newSkillProficiencyLevel", Model.ProficiencyLevelOptions, new { @class = "form-control", style = "width: 20em;" })
                <button data-bind="click: addSkill" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </form>
        <p data-bind="visible: !(sortedSkills().length)">
            You haven't added any skills.
        </p>
        <div data-bind="visible: sortedSkills().length" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Proficiency</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: sortedSkills">
                    <tr>
                        <td data-bind="text: SkillName"></td>
                        <td>
                            <span data-bind="text: Proficiency.Level"></span>
                            -
                            <span data-bind="text: Proficiency.Name"></span>
                        </td>
                        <td class="col-md-2">
                            <div class="pull-right">
                                <a data-bind="click: $parent.removeSkill" href="#">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <h3>Proficiency levels?</h3>
        <p>See <a target="_blank" href="http://hr.od.nih.gov/workingatnih/competencies/proficiencyscale.htm">http://hr.od.nih.gov/workingatnih/competencies/proficiencyscale.htm</a>.</p>
        <dl>
            @foreach (var level in Model.ProficiencyLevels)
            {
                <dt>
                    @level
                </dt>
                <dd>
                    @level.SecondPersonDescription
                </dd>
            }
        </dl>
    </div>
</div>
@section scripts {
    <script>
        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        $('#newSkillText').autocomplete({ source: model.CanonicalSkillNames });

        var ViewModel = function() {
            var self = this;
            self.skills = ko.observableArray(model.ConsultantSkills);
            self.sortedSkills = ko.computed(function() {
                var list = [];
                for (var i = 0; i < self.skills().length; i++) {
                    list.push(self.skills()[i]);
                }
                list = _.sortBy(list, function(x) { 
                    return x.SkillName; 
                });
                list = _.unique(list, function(x) { return x.SkillId; });
                return list;
            });
            self.addSkill = function() {
                var skillName = $('#newSkillText').val();
                var proficiencyLevel = $('#newSkillProficiencyLevel').val();
                $.ajax({
                    type: 'POST',
                    data: { consultantId: model.ConsultantId, skillName: skillName, proficiencyLevel: proficiencyLevel },
                    url: '@Url.Action(MVC.Profile.AddSkill())',
                    success: function(skill) {
                        if (skill) {
                            self.skills.push(skill);
                        }
                    },
                    error: function() {
                        alert('Unable to add ' + skillName);
                    }
                });
            };
            self.removeSkill = function(skill) {
                if (confirm('Are you sure you want to remove ' + skill.SkillName + '?')) {
                    $.ajax({
                        type: 'POST',
                        data: { consultantId: model.ConsultantId, skillId: skill.SkillId },
                        url: '@Url.Action(MVC.Profile.RemoveSkill())',
                        success: function() {
                            self.skills.remove(skill);
                        },
                        error: function() {
                            alert('Unable to remove ' + skill.SkillName);
                        }
                    });
                }
            }
            return this;
        };
        ko.applyBindings(new ViewModel());
    </script>
}